# 🔐 Configuración sensible
src/main/resources/application.properties
*.env

# 📦 Archivos generados por Maven
/target/
*.jar
*.war
*.ear

# 🧠 IDEs
.idea/
.vscode/
*.iml

# 🗂️ Logs
*.log

# 🧹 Archivos temporales
*.tmp
*.swp

# 🗃️ Historial de VS Code
.history/

# 🧾 OS
.DS_Store
Thumbs.db